body {
	margin: 0;
}

#slide1, #slide2, #slide3 {width: 100%;}

#slide1{
	background-size: cover;
	height: 800px;
	margin: 0;
	padding: 0px 0 55px 0;
}

#slide2{
	height: 750px;
	margin: 0 auto;
	overflow: hidden;
	padding: 20px 0;
}

#slide3{
	height: 800px;
	margin: 0 auto;
	overflow: hidden;
	padding: 20px 0;
}
#navbar {
padding: 20px 0px;
background: #455A64;
position: fixed;
width: 100%;
overflow: hidden;
top: 0px;
left: 0px;
z-index: 7;
}

#text2 {
  word-spacing:5px;
  letter-spacing: 1px;
  font-size: 14px;
  color: white;
  padding: 0px 30px;
  font-family: 'Open Sans Condensed', sans-serif;
  font-weight: 700;
  position: relative;
  text-decoration: none;
  float: right;
}

.button{
	position: relative;
	margin: 0px 5px;
	display: inline-block;
	cursor: pointer;
	color: white;
}


.content {
	width: 100%;
	height: 100%;
	position: relative;
	background: url(../img/frida3.jpg) no-repeat center center fixed;
	background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
}

h1 span{
	color: #455A64;
	top: 100px;
	width: 100%;
	position:absolute;
	text-align: left;
	left: 200px;
	font-size: 50px;
	font-family: 'Open Sans Condensed', sans-serif;
}

#bigname{
	display: none;
}

#portfolio{
	position: absolute;
	width: 100%;
}
input {
	float: right;
	margin-top: 16px;
}

a {
	text-decoration: none;
	color: black;
}

a:hover {
	color: grey;
}

#title_container {
	text-align: center;

}

.cont {
	position: relative;
	top: 20px;
}

#title {
	font-size: 30px;
  text-align: center;
  margin-bottom: 10px;
  margin-top: 10px;
  font-family: 'Open Sans Condensed', sans-serif;
  color: #37474F;

}

#subtitle {
  font-size: 20px;
  font-weight: lighter;
  margin-top: 0px;
	margin-bottom: 30px;
  text-align: center;
  font-family: 'Sacramento', cursive;
}

.image {
	list-style-type: none;
	margin: 0;
	padding: 0;
	text-align: center;
}

.image li {
	display: inline-block;
	height: 250px;
	margin: 0 1em 1em 0;
	position: relative;
	width: 250px;
}

.picturetext {
	background: rgba(0,0,0,0.5);
	color: white;
	cursor: pointer;
	display: table;
	height: 250px;
	left: 0;
	position: absolute;
	top: 0;
	width: 250px;
	opacity: 0;
	font-family: 'Open Sans Condensed', sans-serif;
	-webkit-transition: opacity 500ms;
	-moz-transition: opacity 500ms;
	-o-transition: opacity 500ms;
	transition: opacity 500ms;
}

.picturetext span{
	display: table-cell;
	text-align: center;
	vertical-align: middle;
}

ul.image li:hover span.picturetext {
	opacity: 1;
}

#cont3 {
	text-align: left;
}

.about {
	position: relative;
	width: 100%;
}

h2 span{
	color: #37474F;
	top: 15px;
	width: 100%;
	position:absolute;
	text-align: center;
	font-size: 30px;
	font-family: 'Open Sans Condensed', sans-serif;
}

#mepic{
	float: left;
	margin-left: 100px;
	display: inline-block;
	position: absolute;
}

#meblurb{
	float: right;
	font-size: 18px;
	font-family: 'Open Sans Condensed', sans-serif;
	position: relative;
	margin-left: 500px;
	margin-right: 200px;
	word-spacing: 1px;
	letter-spacing: .5px;
}

.smallerbanner {
	height: 70px;
	width: 100%;
}

#imageboxes{
	width:900px;
	margin: 0 auto;
}

#portfolio-button{
	color: white;
}

#about-button{
	color: white;
}